RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

SetEnv SFPHP_MODULES 1;

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L] #Las peticiones se direccionan al index.php, solo cuando la ruta no apunta a un archivo existente