@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
html {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5, h6, p, a, span, button, i { font-family: "Ubuntu", sans-serif; }
body {
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
}
table { font-family: "Ubuntu", sans-serif;  font-size: 0.8em; }

.container { margin-top: 50px; }

.panel { font-family: "Ubuntu", sans-serif;  font-size: 1em; }

.dashboard_panel1 { border-color: #ec971f; background-color: #ec971f; color: #9E630C; }
.dashboard_panel2 { border-color: #B4E2FF; background-color: #B4E2FF; color: #4B87AD; }
.dashboard_panel3 { border-color: #ec971f; background-color: #ec971f; color: #9E630C; }
.dashboard_more { font-size: 0.9em; padding-top: 1em; color: inherit; }

.footer { font-family: "Ubuntu", sans-serif; font-size: 1em; background-color: #292c2f; box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); box-sizing: border-box; width: 100%; text-align: center; padding: 0.5em; margin-top: 1em; }

.recetas .productos-buscados li { border-color: #337ab7; border-style: dashed; background-color: #f0fcff; }
.recetas .ingredientes { border-color: #9ecaa0; border-style: dotted; border-width: 2px; padding: 1em; background-color: #bcffbf; border-radius: 0.5em; }
.recetas .ingredientes li { background-color: #cfe9ff; border-radius: 0.5em; }
.recetas .ingredientes li span { color: #2196F3; font-style: italic; }

.modal-body { max-height: calc(100vh - 210px); overflow-y: auto; }


.fileUpload { position: relative; overflow: hidden; margin: 10px; }
.fileUpload input.upload { position: absolute; top: 0; right: 0; margin: 0; padding: 0; font-size: 20px; cursor: pointer; opacity: 0; filter: alpha(opacity=0); }

.historial li { font-size: 0.8em; }
.historial li .fecha { font-weight: bold; }
.historial li .descripcion { text-transform: uppercase; text-decoration: underline; }

.chart { width: 100%; min-height: 450px; }