{% include 'header.html' %}

<div class="container">
{% for contrato in contratos %}
	<div class="row">
		<div class="col-xs-6">
			<h1>NIS {{ contrato.contrato }}</h1>
		</div>
		<div class="col-xs-2">
			<img src='https://chart.googleapis.com/chart?cht=qr&chl={{contrato.contrato}}&chs=50x50&choe=UTF-8&chld=L|2' rel='nofollow' alt='qr code'>
		</div>
		<div class="col-xs-2">
			<img src="{{constant('BASE_URL')}}html/img/logo_adp.png" width=200 height=38>
		</div>
		<div class="col-xs-2">
			<img src="{{constant('BASE_URL')}}html/img/logo.jpg" width=200 height=38>
		</div>
	</div>
	<div class="row">
		<div class="row">
			<div class="col-xs-6">
				<label>Propiertario: <span data-field="propietario">{{contrato.propietario | e}}</span></label>
			</div>
			<div class="col-xs-6">
				<label>Usuario: <span data-field="usuario">{{contrato.usuario | e}}</span></label>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<label>Suministro: <span data-field="suministro">{{contrato.suministro | e}}</span></label>
			</div>
			<div class="col-xs-3">
				<label>numTomas: <span data-field="numTomas">{{contrato.numTomas | e}}</span></label>
			</div>
			<div class="col-xs-3">
				<label>Giro: <span data-field="giro">{{contrato.giro | e}}</span></label>
			</div>
			<div class="col-xs-3">
				<label>GPS: <span data-field="gps">{{contrato.longitud | e}}, {{contrato.latitud | e}}</span></label>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<label>Direccion: <span data-field="direccion">{{contrato.via | e}} {{contrato.calle | e}} {{contrato.numOficial | e}}, {{contrato.colonia | e}}, {{contrato.municipio | e}}</span></label>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
			<h4>Medidor Retirado</h4>
				<label>Marca: <span data-field="direccion">{{contrato.marca_act | e}}</span></label>
			</div>
			<div class="col-xs-6">
			<h4>Medidor Instalado</h4>
				<label>Serie: <span data-field="direccion">{{contrato.serieMedidor | e}}</span></label>
				<label>Telemetria: <span data-field="direccion">{{contrato.telemetriaMedidor | e}}</span></label>
			</div>
		</div>
	</div>

	<div class="row">
		<h4>Historial</h4>
		<div class="row">
			<div class="col-xs-12">
				<ul class="list-group">
				{% set historial = contrato.estatus|split('|') %}
				{% for accion in historial %}
					<li class="list-group-item">{{ accion|e }}</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<h4>Imágenes</h4>
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-4">
					<div class="thumbnail"><img width="300px" src="{{constant('BASE_URL')}}_expedientes/{{contrato.contrato}}/1fachada-predio.png" alt='fachada'><div class="caption"><h5>Fachada Predio</h5></div></div>
				</div>
				<div class="col-xs-4">
					<div class="thumbnail"><img width="300px" src="{{constant('BASE_URL')}}_expedientes/{{contrato.contrato}}/2cuadro-actual.png" alt='cuadro actual'><div class="caption"><h5>Cuadro Actual</h5></div></div>
				</div>
				<div class="col-xs-4">
					<div class="thumbnail"><img width="300px" src="{{constant('BASE_URL')}}_expedientes/{{contrato.contrato}}/3cuadro-nuevo.png" alt='cuadro nuevo'><div class="caption"><h5>Cuadro Nuevo</h5></div></div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<div class="thumbnail"><img width="300px" src="{{constant('BASE_URL')}}_expedientes/{{contrato.contrato}}/4caratula-medidor.png" alt='caratula medidor'><div class="caption"><h5>Fachada Predio</h5></div></div>
				</div>
				<div class="col-xs-4">
					<div class="thumbnail"><img width="300px" src="{{constant('BASE_URL')}}_expedientes/{{contrato.contrato}}/5orden-trabajo.png" alt='orden trabajo'><div class="caption"><h5>Orden Tabajo</h5></div></div>
				</div>
				<div class="col-xs-4">
					<div class="thumbnail"><img width="300px" src="{{constant('BASE_URL')}}_expedientes/{{contrato.contrato}}/6medidor-retirado.png" alt='medidor retirado'><div class="caption"><h5>Medidor Retirado</h5></div></div>
				</div>
				{% set estatus = contrato.estatus|split('supervisión') %}
				{% if estatus|length > 1 %}
				<div class="col-xs-4">
					<div class="thumbnail"><img width="300px" src="{{constant('BASE_URL')}}_expedientes/{{contrato.contrato}}/7cuadro-problemas.png" alt='cuadro con problemas'><div class="caption"><h5>Supervisión - Cuadro con problemas</h5></div></div>
				</div>
				<div class="col-xs-4">
					<div class="thumbnail"><img width="300px" src="{{constant('BASE_URL')}}_expedientes/{{contrato.contrato}}/8cuadro-corregido.png" alt='cuadro corregido'><div class="caption"><h5>Supervisión - Cuadro corregido</h5></div></div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	<div style="page-break-after: always;"></div>
{% endfor %}
</div>