{% include 'header.html' %}
{% include 'menu.html' %}
<script type="text/javascript" src="{{ constant('BASE_URL') }}html/js/qrbc/webcodecamjquery.js"></script>
<script type="text/javascript" src="{{ constant('BASE_URL') }}html/js/qrbc/qrcodelib.js"></script>

<div class="container">
	<div class="row">
		<h1>Supervisión en campo</h1>
		<div class="row">
			<div class="col-lg-6">
				<div class="input-group">
					<input type="text" name="contrato" class="form-control" placeholder="Contrato...">
					<span class="input-group-btn">
						<button class="btn btn-default camera" type="button" onclick="$('#qrResult').attr('data-destiny','contrato'); $('#modal-qr').modal('show');decoder.play();"><i class="fa fa-camera" aria-hidden="true"> <span></span></i></button>
						<button class="btn btn-primary" type="button" onclick="buscarContrato()">Buscar</button>
					</span>
				</div>
			</div>
			<div class="col-md-6 proceso">
				<button type="button" class="btn btn-success"><i class="fa fa-play" aria-hidden="true" onclick="cambiarEstatus(6,'');$('#modal-tipocobro').modal('show');"> <span>Corregido</span></i></button>
			</div>
		</div>
	</div>

	<div class="row rowContrato">
		<h4>Datos del contrato</h4>
		<div class="row">
			<div class="col-lg-6">
				<label>Propiertario: <span data-field="propietario"></span></label>
			</div>
			<div class="col-lg-6">
				<label>Usuario: <span data-field="usuario"></span></label>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3">
				<label>Suministro: <span data-field="suministro"></span></label>
			</div>
			<div class="col-lg-3">
				<label>numTomas: <span data-field="numTomas"></span></label>
			</div>
			<div class="col-lg-3">
				<label>Giro: <span data-field="giro"></span></label>
			</div>
			<div class="col-lg-3">
				<label>GPS: <span data-field="gps"></span></label>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<label>Direccion: <span data-field="direccion"></span></label>
			</div>
		</div>
		<div class="row">
			<h4>Medidor</h4>
			<div class="col-lg-4">
				<label>Marca: <span data-field="marca_act"></span></label>
			</div>
			<div class="col-lg-4">
				<label>N/S: <div class="input-group"><input type="text" name="serieMedidor" class="form-control" aria-describedby="sizing-addon2" placeholder="# Serie"></div></label>
			</div>
			<div class="col-lg-4">
				<label>Telemetría: <div class="input-group"><input type="text" name="telemetriaMedidor" class="form-control" aria-describedby="sizing-addon2" placeholder="Telemetría"></div></label>
			</div>
		</div>
	</div>

	<form name="imagenes">
		<div class="row rowImagenes">
			<h4>Cargar imágenes de supervisión</h4>
			<div class="row">
				<div class="col-xs-6 col-md-4 col-lg-2">
					<div class="fileUpload btn btn-default">
						<i class="fa fa-camera"> <span>Cuadro con problemas</span></i>
						<input type="file" class="upload" name="7cuadro-problemas" />
					</div>
				</div>
				<div class="col-xs-6 col-md-4 col-lg-2">
					<div class="fileUpload btn btn-default">
						<i class="fa fa-camera"> <span>Cuadro corregido</span></i>
						<input type="file" class="upload" name="8cuadro-corregido" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-md-4 col-lg-2">
					<button id="upload" type="button" class="btn btn-success"><i class="fa fa-cloud" aria-hidden="true"> <span>Subir imagenes</span></i></button>
				</div>
			</div>
		</div>
	</form>
</div>

<div id="modal-qr" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="decoder.stop();">&times;</button>
				<h4 id="modal-titulo" class="modal-title">Leer QR</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<div id="mainbody">
							<select id="qrCamera" class="form-control center-block"></select>
							<canvas id="qrVideo" class="center-block"></canvas>
							<ul></ul>
							<input type="hidden" id="qrResult" data-destiny="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

var arg = {
	resultFunction: function(result) {
		$('[name=' + $("#qrResult").attr('data-destiny') + ']').val(result.code);
		var supportsVibrate = "vibrate" in navigator;
		navigator.vibrate(250);
		$('#modal-qr').modal('hide');
		decoder.stop();
	}
};
var decoder  = $('#qrVideo').WebCodeCamJQuery(arg).data().plugin_WebCodeCamJQuery;
decoder.buildSelectMenu('#qrCamera');
$('#qrCamera').on('change', function(){
	decoder.stop().play();
});

$(function() {
	$('.rowImagenes').hide();
	$('.rowContrato').hide();
	$('.proceso').hide();

	$('.upload').change(function() {
		$(this).parent().removeClass('btn-default');
		$(this).parent().addClass('btn-info');
	});

	$('#upload').click(function() {
		loader.show();
		var form_data = new FormData();
		$('.upload').each(function() {
			form_data.append('file[' + $(this).attr('name') + ']', $(this).prop('files')[0]);
		});
		$.ajax({
			url: BASE_URL + 'gestion/levantamiento/apiupload/contrato/' + $('[name=contrato]').val(),
			dataType: 'text',
			cache: false,
			contentType: false,
			processData: false,
			data: form_data,                         
			type: 'post',
			success: function(response){
				var api = JSON.parse(response);
				if (api.respuesta) {
					toastr.success('Imágenes guardadas.', 'Éxito');
				} else {
					toastr.error('Error al subir imagenes.', 'Intenta de nuevo');
				}
				loader.hide();
			}
		});
	});
});

function buscarContrato() {
	loader.show();
	$('[data-field=propietario]').html('');
	$('[data-field=usuario]').html('');
	$('[data-field=suministro]').html('');
	$('[data-field=numTomas]').html('');
	$('[data-field=direccion]').html('');
	$('[data-field=gps]').html('');
	$('[data-field=giro]').html('');
	$('[data-field=marca_act]').html('');
	$('[name=serieMedidor]').val('');
	$('[name=telemetriaMedidor]').val('');
	sincco.consumirAPI('POST', BASE_URL + 'expedientes/index/apigetcontratoterminado', {contrato:$('[name=contrato]').val()})
	.done(function(data) {
		if (data.total) {
			$('.proceso .btn-success').show();
			$('.proceso .btn-primary').show();
			$('.proceso .btn-danger').show();
			$('.rowImagenes').hide();
			$('.rowContrato').hide();
			$('.rowMateriales').hide();
			if (data.rows[0].estatusId == 5) {
				$('.proceso .btn-success').show();
				$('.rowImagenes').show();
				$('.rowContrato').show();
			}
			if (data.rows[0].estatusId == 6) {
				$('.proceso .btn-success').hide();
				$('.rowContrato').show();
			}
			$('.proceso').show();

			$(data.rows).each(function(){
				$('[data-field=propietario]').html(this.propietario);
				$('[data-field=usuario]').html(this.usuario);
				$('[data-field=suministro]').html(this.suministro);
				$('[data-field=numTomas]').html(this.numTomas);
				$('[data-field=direccion]').html(this.via + ' ' + this.calle + ' ' + this.numOficial + ', ' + this.colonia + ' ' + this.municipio);
				$('[data-field=giro]').html(this.giro);
				$('[data-field=marca_act]').html(this.marca_act);
				$('[data-field=gps]').html(this.longitud + ' , ' + this.latitud);
				$('[name=serieMedidor]').val(this.serieMedidor);
				$('[name=telemetriaMedidor]').val(this.telemetriaMedidor);
			})
		} else {
			toastr.error('El contrato no existe o no está asignado a tu cuadrilla.', 'Intenta de nuevo');
		}
		loader.hide();
	}).fail(function(jqXHR, textStatus, errorThrown) {
		toastr.error('Error al hacer la petición del código.', 'Intenta de nuevo');2439812
		loader.hide();
	});
}

function cambiarEstatus(estatus, motivo) {
	sincco.consumirAPI('POST', BASE_URL + 'expedientes/index/apisetestatus', {contrato:$('[name=contrato]').val(), estatus: estatus, motivo: motivo})
	.done(function(data) {
		if (data.respuesta) {
			toastr.success('Estatus actualizado.', 'Hecho');
		}
	}).fail(function(jqXHR, textStatus, errorThrown) {
		toastr.error('Error al hacer la petición del código.', 'Intenta de nuevo');
		loader.hide();
	});
}

</script>

{% include 'footer.html' %}