{% spaceless %}
{% include 'header_full.html' %}
{% include 'menu.html' %}

<div class="container">
	<div class="row">
	    <div class="col-xs-12">
	        <h1 class="page-header">Necesitas autorización para aplicar esta operación</h1>
		</div>
	</div>
	<div class="row">
	    <div class="col-xs-6">
	        <label>Código de autorización</label>
			<input type="text" class="form-control" placeholder="codigo" id="codigo">
		</div>
		<div class="col-xs-6">
			<button type="button" class="btn btn-success" onclick="validarCodigo()">Validar</button>
		</div>
	</div>
</div>

<script type="text/javascript">

function validarCodigo() {
	sincco.consumirAPI('POST','{{constant('BASE_URL')}}authqr/apivalidar', {codigo:$("#codigo").val()} )
	.done(function(data) {
		if(data.valido)
			toastr.success('Verficiación aceptada. Redirigiendo', 'Hecho');
		else
			toastr.error('Error al autorizar.', 'Intenta de nuevo');
	}).fail(function(jqXHR, textStatus, errorThrown) {
		console.log(errorThrown);
		toastr.error('Error al autorizar.', 'Intenta de nuevo');
	})
}

</script>
{% endspaceless %}