{% spaceless %}
{% include 'header_full.html' %}
{% include 'menu.html' %}

<div class="container">
	<div id="page-wrapper dashboard" style="min-height: 129px;">
		<div class="row">
		    <div class="col-lg-12">
		        <h1 class="page-header">Checadas del periodo ({{desde}} al {{hasta}})</h1>
		    </div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class='col-xs-1'>
					Desde
				</div>
				<div class='col-xs-3'>
					<div class="form-group">
					<div class='input-group date' id='fecha-inicio'>
					<input type='text' class="form-control" id="fechaInicio" value="{{desde}}" />
					<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
					</span>
					</div>
					</div>
				</div>
				<div class='col-xs-1'>
					Hasta
				</div>
				<div class='col-xs-3'>
					<div class="form-group">
					<div class='input-group date' id='fecha-fin'>
					<input type='text' class="form-control" id="fechaFin" value="{{hasta}}"/>
					<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
					</span>
					</div>
					</div>
				</div>
				<div class='col-xs-4'>
					<button type="button" class="btn btn-success" onclick="{{_self.getTemplateName() | replace( { '.html':'' } ) | lower }}.filtrar()">Filtrar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<button type="button" class="btn btn-primary btn-xs" onclick="$('.table').tableExport({type:'excel',escape:'false'});"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Exportar a Excel</button>&nbsp;&nbsp;
		<button type="button" class="btn btn-info btn-xs" onclick="$('.table').tableExport({type:'pdf',escape:'false'});"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Exportar a PDF</button>
		<hr>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Empleado</th><th>Nombre</th><th>Foto</th><th>Entrada</th><th>Salida</th>
				</tr>
			</thead>
			<tbody>
				{% for checada in checadas %}
				<tr>
					<td>{{checada.numeroEmpleado|e}}</td>
					<td>{{checada.nombre|e}}</td>
					<td><img src="{{checada.foto|raw}}" class="img-responsive" style="width: 128px;"></td>
					<td>
						<div class="media">
							<div class="media-left">
								<img class="media-object" src="{{checada.entradaFoto|raw}}"  alt="Sin foto" style="width: 128px;">
							</div>
							<div class="media-body">
								<h6 class="media-heading">{{checada.entradaFecha|e}}</h6>
							</div>
						</div>
					</td>
					<td>
						<div class="media">
							<div class="media-left">
								<img class="media-object" src="{{checada.salidaFoto|raw}}" style="width: 128px;">
							</div>
							<div class="media-body">
								<h6 class="media-heading">{{checada.salidaFecha|e}}</h6>
							</div>
						</div>
					</td>
				</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>

</div>

<script type="text/javascript">{{_self.getTemplateName() | replace( { '.html':'' } ) | lower }}.init();</script>

{% include 'footer_full.html' %}
{% endspaceless %}